* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 12px;
  background-color: #fff;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 250px;
}

.header-logo {
  display: flex;
  margin-left: 20px;
}

.header-logo img {
  width: 200px; /* ajustar tamanho da imagem */
}

/* Estilos para a barra de pesquisa */
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box input[type="text"] {
  width: 400px;
  height: 35px;
  padding: 10px;
  border: 3px solid #ccc;
  /* border-radius: 8px; */
  font-size: 16px;
  background-color: #f1f1f1;
  color: #333;
  box-sizing: border-box;
}

.search-box input[type="text"]::placeholder {
  color: #999;
}

.search-box input[type="text"]:focus {
  border-color: #f58d0f;
  outline: none;
}

/* Estilos para o ícone de lupa */
.search-box ion-icon {
  display: flex;
  color: #999;
  width: 20px;
  height: 20px;
}

.icon-wrap {
  display: flex;
  margin-right: 5px;
}

.title {
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #040404;
  line-height: 30px;
  font-style: normal;
  text-align: center;
}

.title h1 {
  color: #fff;
}

.all-cards {
  padding: 6em 20em;
}

ion-icon {
  color: #fe7f08;
}

.card-text {
  width: 100%;
  line-height: 1.8;
}

button {
  padding: 16px;
  white-space: nowrap;
  border: none;
  background: #e7e7e7;
  box-shadow: 0 6px 5px #bbb;
}

button:hover {
  transform: scale(0.98);
  box-shadow: 0 3px 5px #bbb;
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: none;
  color: #040404;
}

.article-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6em;
  background-color: #f7f7f7;
}

.article-row-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.article-col-section {
  display: flex;
  flex-direction: column;
}

.article-col-section li {
  margin-bottom: 5px;
}

.article-title {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #f7f7f7;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6em;
}
